.jumbotron {
  background-image: url("../photos/cover photo.jpg");
  background-size: cover;
  background-position: center;
  display: block;
  color: white;
}
.jumbotron h1{
  padding-top: 300px;
  padding-bottom: 300px;
  padding-left: 40px;
}

.content {
  font-family: "Karma";
  font-size: 18px;
}

.photo-caption {
  font-family: "Roboto";
  font-size: 14px;
}

.parallax-window {
    min-height: 1000px;
    height: auto;
    background: transparent;
    width: 100%;
}

h1{
	font-size: 80px;
}
@media (min-width: 500px) {
	.container{
		margin: 0 auto;
    width: 90%;
	}
}

@media only screen and (max-device-width: 500px) {
  .container {
    margin: 0 auto;
    width: 100%;
  }
  p{
  	font-size: 35px;
  }
}
.col-xs-12{

}
