.jumbotron {
  background-image: url("../photos/cover photo.jpg");
  background-size: cover;
  background-position: center;
  display: block;
  color: white;
}

.content {
  font-family: "Karma";
  font-size: 18px;
}

.photo-caption {
  font-family: "Roboto";
  font-size: 14px;
}

.parallax-window {
    min-height: 1000px;
    height: auto;
    background: transparent;
    width: 100%;
}

@media (min-width: 500px) {
	.container{
		margin: 0 auto;
    width: 90%;
	}
  .jumbotron h1{
    padding: 30px;
    padding-top: 360px;
    padding-bottom: 40px;
    font-size: 85px;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;

  }
}

@media only screen and (max-device-width: 500px) {
  .container {
    margin: 0 auto;
    width: 100%;
  }
  p{
  	font-size: 35px;
  }

  .jumbotron h1{
    padding-top: 500px;
    padding-bottom: 15px;
    font-size: 90px;
    font-family: 'Roboto Condensed', sans-serif;
  }
}
